<div class="btn-group">
  <%= link_to 'Edit', edit_employee_path(@profile.employee), class: "btn" %> |
  <%= link_to 'Back', employees_path, class: "btn" %>
</div>
<%= render "shared/profile_layout" %>
