<h1>Editing work_detail</h1>

<%= render 'form' %>

<div class="btn-group">
	<%= link_to 'Show', [@work, @work_detail], :class => "btn" %> |
	<%= link_to 'Back', work_work_details_path(@work), :class => "btn" %>
</div>