// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/utilities";
@import "compass/css3";

.row {
	padding-top: 24px;
}
.well {
//	@include border-radius(10px);
	border: none;
}

.card{
	position: relative;
	-webkit-box-shadow: 0 10px 8px -6px #8d8c8c;
    -moz-box-shadow: 0 10px 8px -6px #8d8c8c;
     box-shadow: 0 10px 8px -6px #8d8c8c;

}
.frame {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	width: 80%;
	height: 80%;
}
td{
	width: 90px;
}
td:first-child{
	background: #EEEEEE

}

.nav-pills{
	border-bottom: 1px solid #ddd;
}