<h1>Editing work_skill</h1>

<%= render 'form' %>

<div class="btn-group">
	<%= link_to 'Show', [@work, @work_detail, @work_skill], :class => "btn" %>
	<%= link_to 'Back', work_work_detail_work_skills_path(@work, @work_detail), :class => "btn" %>
</div>